# Python3

Python is high level, object oriented, interpreted language. There are no compilers invloved. Every line of code written is interpreted by the python interperter or shell and then it is converted to machine code which is then executed. This line to line interpretation takes lot of time giving python disadvantage of being slow compared to other compiled languages like C, C++, JAVA etc.It is a scripting language, meaning no compilation step. In interpreted languages like python there is no guarentee that every line of code is executed during runtime.

Python is dynamically typed, which means there is no need to declare data type of variable while defining them and type checking is done during runtime. C++, JAVA are static typed languages, variables needs to be declared before using them and type checking is done during compile time. In Python variables can even be reassigned to different data type in the middle of execution which is not possible in static typed languages. Static or dyanmically typed is about when the type checking is done, either at compile time or runtime. Strong or Weakly typed is about how strictly types are distinguished. Python is a strongly typed language as well, meaning it doesn't allow type cohersion during runtime. JavaScript is an example of weakly typed language. More about typing at https://hackernoon.com/i-finally-understand-static-vs-dynamic-typing-and-you-will-too-ad0c2bd0acc7.

In python we don't have any brackets, blocks of code are separated by indents. Python enforces strict indentation rules, make sure to follow uniform indentation throughtout. For python philosophy and code writing read and follow PEP-008 guidelines.

Open terminal --> **python3** for invoking shell to use in interactive mode.

use any editor of your choice to write the code and to run, open terminal and
for running script file.py use command --> **python3 file.py**


Notations used in this notebook

myfunc(arg1, arg2 \[,arg3\]) - this means argument 3 is optional. arguments inside square brackets are optional.

In [49]:
#use hashtag for commenting
"""for multiple lines 
use triple quotes"""

'for multiple lines \nuse triple quotes'

In [61]:
print("Hello world")  #for printing to output

Hello world

## Variables and Data types

In [21]:
myVar = 10    #assignment operation
myVar    #calling the assigned variable

10

In [22]:
var1, var2 = 15, "string"   #multiple assignment
print(var1, var2)

15 string

myVar is called as **indentifier** which is used to denote/name/identify variable, function, class etc. Indentifiers should start with letter or underscore in special cases, no special characters allowed.

Quick hint, Use consistent names for variables. Instead of naming them like a, b or x use a descriptive name. 
Use camelCase or MixedCase for naming. For static constants use all CAPS. There are some reserved keywords, don't use them as names. Python allows them to use but it just causes more chaos.

* ### Basic Data types

#### INTEGER

In [23]:
varInt = 5   #integer data type
print(type(varInt))
print(varInt)

<class 'int'>
5

type() is an inbuilt function which returns the type of argument.

There is no maximum limit on the value of int. No other integer data types are present like long int etc. Hexadecimal and octal number systems are also supported.

#### FLOAT

In [24]:
varFloat = 5.3  #floating point data type
print(type(varFloat))
print(varFloat)

<class 'float'>
5.3

#### STRING

In [25]:
varString = "Hi"   #string data type
print(type(varString))
print(varString)

<class 'str'>
Hi

Python being a scripting language, strings are very well handled. Strings are immutable, meaning once assigned the string contents can no longer be changed. Strings can be represented inside single or double quotes(use judiciously when there are quotes in actual string itself).

#### LIST

In [26]:
varList = [1,2,3,"Hi"]  #list data type
print(type(varList))
print(varList)

<class 'list'>
[1, 2, 3, 'Hi']

Lists are similar to arrays. As you can see they also allow different data types together. Lists are mutable, meaning once assigned the elements can be reassigned to different values or type and size can be increased. Probably the most versatile and used data type of python.

#### TUPLE

In [27]:
varTuple = (1,2,3) #tuple data type
print(type(varTuple))
print(varTuple)

<class 'tuple'>
(1, 2, 3)

Tuples are immutable data types unlike lists. They can be thought as read only lists.

#### DICTONARY

In [28]:
varDict = {"name":"sandeep","number":345}   #dictonary data type
print(type(varDict))
print(varDict)

<class 'dict'>
{'name': 'sandeep', 'number': 345}

Dictonary takes elements as key:value pairs. It is similar to hash tables seen in other languages. Immutable data types like strings are used for keys. There is no specific order in which elements are stored.

#### SET

In [29]:
varSet = {1,2,4,5,2}   #set data type
print(type(varSet))
print(varSet)

<class 'set'>
{1, 2, 4, 5}

As you can see from above output, set doesn't allow repetetions. The elements of set are unordered. Implementation is more like a mathematical set.

These are the basic data types, also there are some rarely used ones. More on each data type is covered later. We can convert some data types into others. With more time you will realize basic data types are inbuilt class and each assignment creates an instance of that class, an object. All variables are objects and functions are methods. Python is a object oriented language and to the core of it everything is implemented as classes and methods and everything defined are objects. Any object, say variable or function etc can be deleted using **del(obj)**.

* ### Data type converstion and intialization

**int(x\[,base\])** - converts x to an integer. x can be float(truncates the decimal part) or valid string. For using base argument, x should be specified as string. Then it converts the x in specified base to base 10.

In [30]:
int(5.3)

5

In [31]:
int("123")

123

In [32]:
int("11001101",2)  # 205 written in base 2

205

In [33]:
int()  #without any arguments return 0 integer

0

**float(x)** - converts x to a floating point number. x can be int or valid string.

In [34]:
float(5)

5.0

In [35]:
float("123.5")

123.5

**str(x)** - Converts x to a string representation, x can be any valid object.

In [36]:
str(123)

'123'

In [38]:
str([1,2,3])

'[1, 2, 3]'

In [37]:
myStr = str() #without any arguments it creates empty string
myStr         #often used for intialization

''

Above method of initialization is same as myStr = "". Assigning directly to empty string

**list(iter)** - Converts iterable to a list

An iterable is a type of object, which returns an iterator that is indexed sequentially and thus can be looped through. There are a lot of iterables in python like lists, tuples, strings etc. Along with these data types, there is a general iterable object/iterator which should allow certain procedures on them.

In [39]:
list((1,2,3))

[1, 2, 3]

In [40]:
list("string")

['s', 't', 'r', 'i', 'n', 'g']

In [41]:
myList = list()   #without any arguments it creates empty list
myList            #often used for intialization

[]

Above method of initialization is same as myList = []. Assigning directly to empty list.

**tuple(iter)** - Converts iter to a tuple

In [54]:
print(tuple([1,2,3,4]))
print(tuple("hello"))
print(tuple({1,2,4,2}))   #set autmatically deletes the duplicate before passing itself as argument

(1, 2, 3, 4)
('h', 'e', 'l', 'l', 'o')
(1, 2, 4)

In [58]:
myTuple1 = tuple()   #intialization for empty tuple, same as
myTuple2 = ()
print(myTuple1, myTuple2)

() ()

**dict(x)** - Converts key value pair format elements of iterable x into python dictionary. x can be an iterable with elements of size 2 like (key,value) pairs or a mapping with (key,value) pairs. Most commonly used to intialize empty dictionary or convert JS objects in JSON to python dictionary.

In [59]:
dict([["name","sandeep"],("number",345)])

{'name': 'sandeep', 'number': 345}

In [60]:
myDict1 = dict()  #intialization for empty dictionary, same as
myDict2 = {}      #beware this creates empty dictionary not empty set
print(type(myDict2))

<class 'dict'>

**set(iter)** - Converts iterbale to a set. This operation also removes duplicates because of the property of set.

In [51]:
set([1,2,3,5,2,3,6,5,4])

{1, 2, 3, 4, 5, 6}

In [52]:
set("hello")

{'e', 'h', 'l', 'o'}

In [53]:
mySet1 = set() #intialization to empty set
print(type(mySet1))
mySet2 = {}    #wrong intialization
print(type(mySet2))

<class 'set'>
<class 'dict'>

We expected the second intialization to be set, but remember both dictionary and set uses same curly braces. Curly braces with no elements creates an empty dictionary, not a set.

In [65]:
example1 = "hello"
example2 = [1,2,5,2,8,3,6,0,2]
example3 = (1,5,3,9,2,0)
print(len(example1),len(example2),len(example3),sep="\n")

5
9
6

In [66]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

**len(iter)** returns the length of iterable.
**help(keyword)** can be used to access help documentation about the keyword.

## Operators

  * ### Airthmetic operators

In [42]:
15 + 43   #addition

58

In [43]:
43 - 14   #substraction

29

In [44]:
56 * 5    #multiplication

280

In [45]:
56/5      #true division

11.2

In [46]:
56//5     #interger or floor division return quotient

11

In [47]:
56 % 5    #modulo operation return remainder

1

In [48]:
# 56 = (56//5) * 5 + (56 % 5)
#for larger expressions use brackets for code redability